In [1]:
## Import Libraries
from pyspark.sql import SparkSession
from pyspark.sql.types import (StructField, StringType, IntegerType,
                               DoubleType, DateType, StructType)

In [2]:
## Create Spark Session
spark = SparkSession.builder.appName('BasicOps').getOrCreate()

In [3]:
## Setup Schema
schema = StructType(fields=[StructField('date', DateType(), True),
                            StructField('open', DoubleType(), True),
                            StructField('high', DoubleType(), True),
                            StructField('low', DoubleType(), True),
                            StructField('close', DoubleType(), True),
                            StructField('volume', IntegerType(), True),
                            StructField('adj_close', DoubleType(), True)])

In [4]:
## Read in Data
df = spark.read.csv('gs://spark-training-data/datasets/appl_stock.csv', inferSchema=False,
                    header=True, schema=schema)

In [5]:
## Show Data
df.show()
df.printSchema()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      date|              open|              high|               low|             close|   volume|         adj_close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

root
 |-- date: date (nullable = true)
 |-- open: double (nullable = true)
 |-- high: double (nullable = true)
 |-- low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- volume: integer (nullable = true)
 |-- adj_close: double (nullable = true)

In [6]:
## Show column names (attribute)
df.columns

['date', 'open', 'high', 'low', 'close', 'volume', 'adj_close']

In [7]:
## Statistical Summary of DF - Must add .show() to see results
df.describe().show()

+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+
|summary|              open|              high|               low|            close|             volume|         adj_close|
+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+
|  count|              1762|              1762|              1762|             1762|               1762|              1762|
|   mean| 313.0763111589103| 315.9112880164581| 309.8282405079457|312.9270656379113|9.422577587968218E7| 75.00174115607275|
| stddev|185.29946803981522|186.89817686485767|183.38391664371008|185.1471036170943|6.020518776592709E7| 28.57492972179906|
|    min|              90.0|         90.699997|         89.470001|        90.279999|           11475900|         24.881912|
|    max|        702.409988|        705.070023|        699.569977|       702.100021|          470249500|127.96609099999999|
+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+

In [8]:
## Basic Filtering using SQL syntax
df.filter('close < 500').select(['open','close']).show()

+------------------+------------------+
|              open|             close|
+------------------+------------------+
|        213.429998|        214.009998|
|        214.599998|        214.379993|
|        214.379993|        210.969995|
|            211.75|            210.58|
|        210.299994|211.98000499999998|
|212.79999700000002|210.11000299999998|
|209.18999499999998|        207.720001|
|        207.870005|        210.650002|
|210.11000299999998|            209.43|
|210.92999500000002|            205.93|
|        208.330002|        215.039995|
|        214.910006|            211.73|
|        212.079994|        208.069996|
|206.78000600000001|            197.75|
|202.51000200000001|        203.070002|
|205.95000100000001|        205.940001|
|        206.849995|        207.880005|
|        204.930004|        199.289995|
|        201.079996|        192.060003|
|192.36999699999998|        194.729998|
+------------------+------------------+
only showing top 20 rows

In [9]:
## Basic filtering using Pythonic syntax
df.filter(df['close'] < 500).select(['open','close']).show()

+------------------+------------------+
|              open|             close|
+------------------+------------------+
|        213.429998|        214.009998|
|        214.599998|        214.379993|
|        214.379993|        210.969995|
|            211.75|            210.58|
|        210.299994|211.98000499999998|
|212.79999700000002|210.11000299999998|
|209.18999499999998|        207.720001|
|        207.870005|        210.650002|
|210.11000299999998|            209.43|
|210.92999500000002|            205.93|
|        208.330002|        215.039995|
|        214.910006|            211.73|
|        212.079994|        208.069996|
|206.78000600000001|            197.75|
|202.51000200000001|        203.070002|
|205.95000100000001|        205.940001|
|        206.849995|        207.880005|
|        204.930004|        199.289995|
|        201.079996|        192.060003|
|192.36999699999998|        194.729998|
+------------------+------------------+
only showing top 20 rows

In [10]:
## Multiple condition filtering
df.filter((df['close'] < 200) & (df['open'] > 200)).select(['open','close']).show()

+------------------+----------+
|              open|     close|
+------------------+----------+
|206.78000600000001|    197.75|
|        204.930004|199.289995|
|        201.079996|192.060003|
+------------------+----------+

In [14]:
## Show vs. Collect
df.filter(df['low'] == 197.16).show() # Just prints the data
result = df.filter(df['low'] == 197.16).collect() # Returns a row object we could save off and work with
print(result)
print(type(result)) # List of row objects

+----------+------------------+----------+------+------+---------+---------+
|      date|              open|      high|   low| close|   volume|adj_close|
+----------+------------------+----------+------+------+---------+---------+
|2010-01-22|206.78000600000001|207.499996|197.16|197.75|220441900|25.620401|
+----------+------------------+----------+------+------+---------+---------+

[Row(date=datetime.date(2010, 1, 22), open=206.78000600000001, high=207.499996, low=197.16, close=197.75, volume=220441900, adj_close=25.620401)]
<class 'list'>

In [15]:
## Grab a single row from results
row = result[0]
row.asDict() # Can conver to multiple items

{'date': datetime.date(2010, 1, 22),
 'open': 206.78000600000001,
 'high': 207.499996,
 'low': 197.16,
 'close': 197.75,
 'volume': 220441900,
 'adj_close': 25.620401}