In [31]:
## Import Libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import (dayofmonth, hour, dayofyear,
                                   month, year, weekofyear,
                                   format_number, date_format)
from pyspark.sql.types import (StructField, StructType, StringType,
                               IntegerType, DoubleType, TimestampType)

In [32]:
## Create Spark Session
spark = SparkSession.builder.appName('DatesTimes').getOrCreate()

In [33]:
## Setup Schema
schema = StructType(fields=[StructField('date', TimestampType(), True),
                            StructField('open', DoubleType(), True),
                            StructField('high', DoubleType(), True),
                            StructField('low', DoubleType(), True),
                            StructField('close', DoubleType(), True),
                            StructField('volume', IntegerType(), True),
                            StructField('adj_close', DoubleType(), True)])

In [34]:
## Read in Data
df = spark.read.csv('gs://spark-training-data/datasets/appl_stock.csv', inferSchema=False,
                    schema=schema, header=True)

In [35]:
## Show Data
df.show()
df.printSchema()

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               date|              open|              high|               low|             close|   volume|         adj_close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04 00:00:00|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 00:00:00|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:00|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 00:00:00|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 00:00:00|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11 00:00:00|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12 00:00:00|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13 00:00:00|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14 00:00:00|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15 00:00:00|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19 00:00:00|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20 00:00:00|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21 00:00:00|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22 00:00:00|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25 00:00:00|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26 00:00:00|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27 00:00:00|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28 00:00:00|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29 00:00:00|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01 00:00:00|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

root
 |-- date: timestamp (nullable = true)
 |-- open: double (nullable = true)
 |-- high: double (nullable = true)
 |-- low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- volume: integer (nullable = true)
 |-- adj_close: double (nullable = true)

In [36]:
## Date Example - 'date': datetime.datetime(2010, 1, 4, 0, 0)
df.head(1)[0].asDict()

{'date': datetime.datetime(2010, 1, 4, 0, 0),
 'open': 213.429998,
 'high': 214.499996,
 'low': 212.38000099999996,
 'close': 214.009998,
 'volume': 123432400,
 'adj_close': 27.727039}

In [39]:
## Date Function example from pyspark.sql.functions
df.select(dayofmonth(df['date']).alias('day_of_month')).show()

+------------+
|day_of_month|
+------------+
|           4|
|           5|
|           6|
|           7|
|           8|
|          11|
|          12|
|          13|
|          14|
|          15|
|          19|
|          20|
|          21|
|          22|
|          25|
|          26|
|          27|
|          28|
|          29|
|           1|
+------------+
only showing top 20 rows

In [52]:
## Example Problem - Monthly Closing Average
result = df.groupBy(year(df['date']).alias('year')).mean('close')
result.select('year', format_number('avg(close)',2)).withColumnRenamed('format_number(avg(close), 2)','average_closing_price').show()

+----+---------------------+
|year|average_closing_price|
+----+---------------------+
|2015|               120.04|
|2013|               472.63|
|2014|               295.40|
|2012|               576.05|
|2016|               104.60|
|2010|               259.84|
|2011|               364.00|
+----+---------------------+